<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.admin">

	<select id="memberList" resultType="LoginDto" parameterType="Map">
		SELECT SEQ, ID, PW, NAME, NICKNAME, REGDATE, 
				DELFLAG, SEX, BIRTH, EMAIL 
			FROM (SELECT ROW_NUMBER() OVER(ORDER BY DELFLAG,SEQ) AS RN,
				  SEQ, ID, PW, NAME, NICKNAME, REGDATE, 
				  DELFLAG, SEX, BIRTH, EMAIL FROM USERS
				  ORDER BY DELFLAG, SEQ)
			WHERE RN BETWEEN #{snum} AND #{cnum}
	</select>
	
	<select id="memberDel" parameterType="Map">
		UPDATE USERS SET DELFLAG='Y' WHERE SEQ IN
		<foreach collection="seqs" item="seq" open="(" close=")" separator="," >
			#{seq}
		</foreach>
	</select>
	
	<select id="memberDelCancle" parameterType="Map">
		UPDATE USERS SET DELFLAG='N' WHERE SEQ IN
		<foreach collection="seqs" item="seq" open="(" close=")" separator="," >
			#{seq}
		</foreach>
	</select>
	
	<select id="reviewAll" parameterType="Map" resultType="Res_ReviewDto">
		SELECT REVIEW.SEQ, ID, CONTENT, REFER, STAR, DEPTH, STEP, 
		RES_SEQ, REGDATE, REPORT, LIKEY, DISLIKEY, DELFLAG,
		R.SEQ, NAME, ADDR	
		FROM REVIEW, (
			SELECT RESLIST.SEQ, NAME, ADDR	FROM REVIEW, RESLIST 
		WHERE REVIEW.RES_SEQ = RESLIST.SEQ
		GROUP BY (RESLIST.SEQ, NAME, ADDR)
		) R
		WHERE REVIEW.RES_SEQ = R.SEQ
		AND ADDR LIKE '%'||#{area}||'%'
		AND R.SEQ IN
		<foreach collection="seqs" item="seq" open="(" close=")" separator="," >
			#{seq}
		</foreach>
	</select>
	
	
	<select id="reviewReport" parameterType="Map" resultType="Res_ReviewDto">
		SELECT REVIEW.SEQ, ID, CONTENT, REFER, STAR, DEPTH, STEP, 
		RES_SEQ, REGDATE, REPORT, LIKEY, DISLIKEY, DELFLAG,
		R.SEQ, NAME, ADDR	
		FROM REVIEW, (
			SELECT RESLIST.SEQ, NAME, ADDR	FROM REVIEW, RESLIST 
		WHERE REVIEW.RES_SEQ = RESLIST.SEQ
		GROUP BY (RESLIST.SEQ, NAME, ADDR)
		) R
		WHERE ADDR LIKE '%'||#{area}||'%'
		AND REVIEW.RES_SEQ = R.SEQ
		AND R.SEQ IN
		<foreach collection="seqs" item="seq" open="(" close=")" separator="," >
			#{seq}
		</foreach>
		AND DELFLAG = 'N'
	</select>
	
	<select id="areaResList" parameterType="String" resultType="ResDto">
		SELECT RESLIST.SEQ, NAME, ADDR	FROM REVIEW, RESLIST 
		WHERE REVIEW.RES_SEQ = RESLIST.SEQ
		AND ADDR LIKE '%'||#{area}||'%'
		GROUP BY (RESLIST.SEQ, NAME, ADDR)
	</select>	
	
	<select id="reviewDel" parameterType="Map">
		UPDATE REVIEW SET DELFLAG='Y' WHERE SEQ IN
		<foreach collection="seqs" item="seq" open="(" close=")" separator="," >
			#{seq}
		</foreach>
	</select>
	
	<select id="addrList" resultType="AddrDto">
		SELECT SEQ, SI, GU FROM ADDRESS ORDER BY SEQ
	</select>

	<select id="restList" resultType="ResDto" parameterType="Map">
		SELECT SEQ, NAME, CATE, ADDR, "CALL", "START", "END", 
		REST_START, REST_END, PARKING, "OPEN", CHK, "COMMENT", X, Y 
		FROM
		(SELECT ROW_NUMBER() OVER(ORDER BY SEQ) AS RN, 
		SEQ, NAME, CATE, ADDR, "CALL", "START", "END", 
		REST_START, REST_END, PARKING, "OPEN", CHK, "COMMENT", X, Y 
		FROM RESLIST WHERE CHK = 'N') WHERE RN BETWEEN #{snum} AND #{cnum}
	</select>
	
	<select id="pageCntRest" resultType="int">
		SELECT CEIL(COUNT(*)/10) CNT FROM RESLIST WHERE CHK='N'
	</select>
	
	<select id="pageCntMem" resultType="int">
		SELECT CEIL(COUNT(*)/10) CNT FROM USERS
	</select>
	
	
	<select id="restChk" parameterType="Map">
		UPDATE RESLIST SET CHK='Y', X=#{x}, Y=#{y} WHERE SEQ = #{seq}
	</select>
	
	<select id="restChkEmail" parameterType="int" resultType="AoDto">
		SELECT ADMIN_OWNER.SEQ, ID, PW, ADMIN_OWNER.NAME, RES_SEQ, PHONE, RES_CALL, GRADE, EMAIL FROM RESLIST, ADMIN_OWNER 
		WHERE RESLIST.SEQ = ADMIN_OWNER.RES_SEQ 
		AND RESLIST.SEQ = #{seq}
	</select>
	
	<select id="restDel" parameterType="int">
		UPDATE RESLIST SET CHK='DEL' WHERE SEQ IN
		<foreach collection="seqs" item="seq" open="(" close=")" separator="," >
			#{seq}
		</foreach>
	</select>


	<select id="sendEmail" parameterType="Map" resultType="AoDto">
		SELECT SEQ, ID, PW, NAME, RES_SEQ, PHONE, RES_CALL, GRADE, EMAIL
		FROM ADMIN_OWNER WHERE EMAIL = #{email} AND SEQ = ${seq}
	</select>

	<select id="restList_detail" parameterType="int" resultType="ResInfoDto">
	SELECT T1.NAME, T1.SEQ MENU_SEQ, T1.PRICE, T2.SEQ PHOTO_SEQ, T2.ORIGIN, T2."CHANGE",
	(SELECT ATTR FROM ATTRS WHERE ATTRS.CODE = SUBSTR(T1.CODE, 1, 1) AND T1.RES_SEQ = #{res_seq} AND ATTRS.TYPE = '1카테고리') CATE,
	(SELECT ATTR FROM ATTRS WHERE ATTRS.CODE = SUBSTR(T1.CODE, 2, 1) AND T1.RES_SEQ = #{res_seq} AND ATTRS.TYPE = '2주재료') BASE,
	(SELECT ATTR FROM ATTRS WHERE ATTRS.CODE = SUBSTR(T1.CODE, 3, 1) AND T1.RES_SEQ = #{res_seq} AND ATTRS.TYPE = '3조리방식') COOK,
	(SELECT ATTR FROM ATTRS WHERE ATTRS.CODE = SUBSTR(T1.CODE, 4, 1) AND T1.RES_SEQ = #{res_seq} AND ATTRS.TYPE = '4매움정도') SPICY,
	(SELECT ATTR FROM ATTRS WHERE ATTRS.CODE = SUBSTR(T1.CODE, 5, 1) AND T1.RES_SEQ = #{res_seq} AND ATTRS.TYPE = '5온도') TEMP
	FROM MENULIST T1, PHOTO T2 WHERE T1.RES_SEQ = #{res_seq} AND T2.MENU_SEQ = T1.SEQ
	</select>

	<select id="restPhoto" parameterType="int" resultType="PhotoDto">
		SELECT SEQ, ORIGIN, CHANGE, RES_SEQ, MENU_SEQ FROM PHOTO WHERE RES_SEQ = #{res_seq} AND MENU_SEQ IS NULL
	</select>

</mapper>